<p [appHighlight]="color">Direttiva applicata</p>

<p>{{2+3 | exponentialStrength:'3'}}</p>
<p>
    Il mio colore preferito è il
    <ng-container *ngIf="color != null; else coloreDefault">
        {{color | uppercase}}
    </ng-container>
    <ng-template #coloreDefault>
        green
    </ng-template>
</p>
<p>{{color}}</p>

<p *appUnless="color != null">non è indicato il colore</p>
<button (click)="cambiaColore()">Cambia colore</button>


<p *ngFor="let elemento of lista" [appHighlight]="'red'">
    <ng-container *ngIf="elemento !== 'stringa2'">
        {{elemento}}
    </ng-container>
</p>

<p [class.colorRed]="toggleStyle" [class.boldStyle]="!toggleStyle">{{titoloInput | lowercase}}</p>
<p class="boldStyle">{{myDate}}</p>
<p [ngClass]="myStyles">{{myDate | date:'longDate' | uppercase}}</p>
<button (click)="toggleStyle = !toggleStyle">Toggle Style</button>


<p>{{oggetto?.chiave}} </p>
<p>{{oggetto1?.chiave}} </p>
<!-- Da preferire l'interpolazione, a meno che non si ha dell'html nella string -->
<span>{{title}}</span>
<p [innerHTML]="title"></p>
<p>title</p>
<div>{{htmlString}}</div>
<div [innerHTML]="htmlString"></div>
<!-- qui sotto preferire le property -->
<div>
    <a href="https://google.it">Link</a>
</div>
<div>
    <a [href]="linkUrl">Link</a>
</div>
<div>
    <a href="{{linkUrl}}">Link</a>
</div>